#map {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}
#google-map {
    height: 100%;
    width: 100%;
}
#track {
    display: none;
    height: 50%;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#details {
    display: none;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
	text-align: center;
    overflow: scroll; overflow-x:hidden;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#data img{
	margin-left: 10px;
	margin-right: 10px;
}

.window-infotrack-title img {
    float: left;
    width: 40px;
    margin-right: 10px;
}

.window-infotrack-content {
    float: left;
    width:100%;
    vertical-align: middle;
}
.window-infotrack-content img {
    float: left;
    margin-right: 10px;
}

.window-infotrack-content p {
    margin-right: 40px;
    float: left;
}

.area {
    fill: rgba(176,196,222,0.5);
}

/* Filters */
.filter {
	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: absolute;
    bottom: 10px;
    left: 10px;
}
#sliders{
	position: absolute;
    bottom: 10px;
    left: 10px;
}
.sliders-dropdown-toggle{
	display: inline-block;
	cursor: pointer;
	width: 50px;
	height: 50px;
}
.slider{
	margin-bottom: 5px;
}
.img-check{
    opacity: 0.5;
	direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 39px; border-left: 0px;
}
.img-check:hover{
    background-color: rgb(235,235,235);
}
.check
{
    opacity: 1;
	color: blue;
}
.label_checkbox {
	display: none;
}
.axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {
      display: none;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

#weather > ul > li > a > img {
    width: 46px;
    margin: 0 5px 0 5px;
}

#weather div > div > canvas {
    padding: 0 15px;
}

#weather div > div > div {
    margin: 10px 30px 0 50px;
}

.weather-icons {
    float: left;
    width: 4%;
    margin: 0 2.1%;
}

@media (min-width: 1250px) {
    .nav-tabs.nav-justified > li > a {
        height: 70px;
    }
}

@media (max-width: 1450px) and (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        height: 111px;
    }

    .nav-tabs.nav-justified > li {
        height: 111px;
    }
}

@media (max-width: 768px) {

    .nav-tabs.nav-justified > li > a {
        height: 70px;
    }

    .nav-tabs.nav-justified > li {
        height: 70px;
    }
}
