#map {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
}
#track {
    display: none;
    height: 50%;
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#data{
    display: none;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
	text-align: center;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#data img{
	margin-left: 10px;
	margin-right: 10px;
}

.window-infotrack-title img {
    float: left;
    width: 40px;
    margin-right: 10px;
}

.window-infotrack-content {
    float: left;
    width:100%;
    vertical-align: middle;
}
.window-infotrack-content img {
    float: left;
    margin-right: 10px;
}

.window-infotrack-content p {
    margin-right: 40px;
    float: left;
}
